body {
  font-family: Verdana, Georgia, "Times New Roman", Times, serif;
  color: #0a3126;
  background-color: #FDFDFC;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  margin-top: 120px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
  background-color: #F8F8F7;
  padding: 10px 0px 10px 50px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 1260px) {
  header {
    padding-right: 50px;
  }
}

#ul-header {
  display: flex;
  list-style-type: none;
}

#ul-header li {
  padding: 0 20px 0 20px;
}

#ul-header a {
  text-transform: uppercase;
}

.header-icons {
  padding: 10px;
}

.header-icons a {
  padding: 10px;
}

#me {
  height: 100rem;
}

.page-name-container {
  margin: 50px 0 20px 30px;
}

.page-name:hover {
  text-decoration: underline;
}

.js .slider-single > div:nth-child(1n+2) {
  display: none;
}

.js .slider-single.slick-initialized > div:nth-child(1n+2) {
  display: block;
}

h3 {
  background: #f0f0f0;
  color: #3498db;
  font-size: 10px;
  width: 50px;
  position: relative;
  text-align: center;
}

.slider-single h3 {
  line-height: 10rem;
  width: 600px;
  height: 400px;
}

.slider-single {
  width: 600px;
  height: 400px;
}

#countdown {
  position: absolute;
  top: 191px;
  background-color: rgba(243, 226, 209, 0.5);
  z-index: 1;
  padding: 10px;
  text-align: center;
  width: 580px;
}

.slider-nav h3::before {
  content: "";
  display: block;
  padding-top: 75%;
}

.slider-nav h3 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-nav .slick-slide {
  cursor: pointer;
}

.slider-nav {
  margin-top: 35px;
  width: 400px;
  height: 200px;
}

.slick-slide.is-active h3 {
  color: #c00;
  background-color: #fff;
}

.slick-slide {
  width: 100px;
  height: 100px;
}

.slider-nav img {
  width: 100px;
  height: 100px;
}

.slick-arrow {
  border: 1px gray solid !important;
  border-radius: 50%;
  color: gray;
}

button.slick-prev {
  color: red;
}

.hero-container {
  display: flex;
  justify-content: space-around;
}

.hero-image {
  margin-top: 22px;
}

.product-details {
  margin-left: 50px;
}

.product-name {
  font-size: 25px;
}

.fa-heart:before {
  font-size: 10px;
  border: 1px #141414 solid;
  border-radius: 50%;
  padding: 5px;
}

.product-price {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: -20px;
}

.product-price-crossed {
  position: relative;
  left: 130px;
  top: -30px;
  text-decoration: line-through;
  color: #d8d4d4;
}

.product-size-text {
  font-size: 14px;
}

.size-button {
  border: 1px #d8d4d4 solid;
  border-radius: 30px;
  padding: 10px;
  font-size: 11px;
  width: 205px;
}

.size-guide {
  font-size: 14px;
  text-decoration: underline;
}

#size-modal {
  display: none;
  position: absolute;
  top: 231px;
  border: 2px black solid;
}

.basket-button {
  color: white;
  background-color: #141414;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}

.product-extra-titles {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.product-extra-titles li:nth-child(2) {
  border-bottom: 2px #141414 solid;
  padding-bottom: 40px;
  font-weight: 600;
}

.product-extra-size-guide {
  display: flex;
  justify-content: space-evenly;
  border: 1px red solid;
  margin: 150px 0 150px 0;
  background-color: #F8F8F7;
}

.product-size-text span {
  color: gainsboro;
  border: 1px gainsboro solid;
  padding: 7px 10px;
  border-radius: 50%;
  margin-right: 30px;
}

.product-size-text p {
  margin: 35px 0 35px 0;
}

.product-size-image img {
  width: 500px;
  height: 300px;
}

.other-products-container {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
}

.other-products-container p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 50px;
}

.other-products {
  display: flex;
  justify-content: space-between;
}

.other-product {
  border: 1px gainsboro solid;
  max-width: 300px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.other-products-title {
  font-weight: 600;
  margin: 20px;
  font-size: 15px;
}

.other-products-price {
  font-weight: 600;
  margin: 20px;
  font-size: 20px;
}

.other-products-image img {
  border-radius: 10px;
  width: 300px;
  height: 250px;
}

.other-products-button {
  background-color: #F0F0ED;
  padding: 20px 0 20px 0;
  border-radius: 11px;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-container {
  background-color: #141414;
  margin-bottom: 150px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-text {
  color: white;
  margin: 0 40px;
  font-size: 23px;
  font-weight: 600;
}

.newsletter-input input {
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  border: none;
  width: 300px;
  font-size: 15px;
}

.newsletter-input input:focus {
  outline: none;
}

.newsletter-arrow {
  border: 1px white solid;
  color: white;
  margin-left: 20px;
  padding: 13px 20px;
  border-radius: 5px;
}

.footer-links-container {
  display: flex;
  justify-content: space-around;
}

.footer-links li {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  line-height: 25px;
}

.footer-links p {
  line-height: 5px;
}

.footer-links-title {
  font-size: 17px;
  margin-bottom: 60px;
}

.footer-links {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  font-size: 13px;
}

#footer-phone {
  font-weight: 600;
  line-height: 30px;
}

#footer-email {
  font-weight: 600;
  text-decoration: underline;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-size: 13px;
}

.social-logos {
  display: flex;
  padding: 10px;
}

.social-logos p {
  margin: 0 15px 0 15px;
}/*# sourceMappingURL=style.css.map */