@use '../abstracts/index' as *;


header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    background-color: #F8F8F7;
    padding: 10px 0px 10px 50px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @media only screen and (min-width: $break-xl) {
        padding-right: 50px;
    }
}

#ul-header {
    display: flex;
    list-style-type: none;

}

#ul-header li {
    padding:  0 20px 0 20px;
}

#ul-header a {
    text-transform: uppercase;
}

#ul-header p {
    text-transform: capitalize;
}

.li-header-1 {
    border: 1px red solid;
    z-index: 0;
}

.li-header-1:hover {
    .dropdown-items-1 {
        display: block;
    }
}
.li-header-2:hover {
    .dropdown-items-2 {
        display: block;
    }
}
.li-header-3:hover {
    .dropdown-items-3 {
        display: block;
    }
}
.li-header-4:hover {
    .dropdown-items-4 {
        display: block;
    }
}


.dropdown-items-1, 
.dropdown-items-2,
.dropdown-items-3,
.dropdown-items-4 {
    display: none;
    border: 1px red solid;
}

.header-icons {
    padding: 10px;
}

.header-icons a {
    padding: 10px;
}

#me {
    height: 100rem;
}
  